// Place all the styles related to the Cnabs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
     background-color: #eee !important;
}

#error_explanation > ul > li {
    font-size: 14px !important;
}
.table {
    background-color: #fff !important;
}
.input-group, .actions {
    margin: 5px;
}